{{#partial "title" }}
    Site Management App
{{/partial}}


{{#partial "content"}}

    <h1>Site Allocation to Engineers</h1>
    <p>Dear {{ engineer }}, EK Number: {{ ek }} </p>
    <p>You are Assigned the following Sites </p>

    <p>Site Name: {{ sites }}</p>

{{/partial}}

{{> layout.hbs}}