{{#partial "content"}}

<div class="jumbotron text-center">
    <h1>Sites Management App</h1>
    <p>Keep Track Each site and the Engineer Assigned to Maintain it!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Sites List</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
            <h3>Add Site</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
            <h3>Add Engineer</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
</div>
<p><a href='/favorite_photos' >P.S. Check out my favorite travel photos here.</a></p>


{{/partial}}

{{> layout.hbs}}